@import 'bootstrap';

@media print {
  .topbar {
    display: none;
  }

  .admin_only {
    display: none;
  }
}

#quotes-table .section {
  background: #E0E0E0;
}

.level_1 {
  font-weight: bold;
}

.level_2 {
  text-indent: 25px;
}

.level_3 {
  text-indent: 50px;
}
