// @import 'bootstrap';

@media print {
  .navbar {
    display: none;
  }

  .admin_only {
    display: none;
  }

  #quotes-table .section {
    background: #E0E0E0;
  }

  .level_1 {
    font-weight: bold;
  }

  .level_2 {
  }

  .level_3 {
  }
}
