@import 'bootstrap';

body{
  padding-top: 60px;
}

#quotes-table .section {
  background: #E0E0E0;
}

.item {
}

.level_1 {
  font-weight: bold;
}

.level_2 {
  text-indent: 25px;
}

.level_3 {
  text-indent: 50px;
}
